name: test-repository

on:
  push:
    branches:
      - "*"

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: user/app:test
          context: .
          platforms: linux/amd64

  python_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: astral-sh/setup-uv
        uses: astral-sh/setup-uv@v7.2.1
      - name: Run Tests
        run: uv run mesmots/tests.py
